<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href=".././css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="site-spacing" style="background-color: #333;">
        <div class="nav">
            <a href="../index.html">Home</a>
            <a href="./graphics.html">Graphics</a>
            <a href="./storage.html">Storage</a>
            <a href="./dualsense.html">DualSense</a>
        </div>
    </div>

    <div class="hero-image site-spacing">
        <div class="hero-text"></div>
    </div>

    <div class="row site-spacing">
        <div class="column side">
            <img class="responsive" src="../assets/Controllers.jpg" alt="Controllers">
        </div>
        <div class="column middle">
            <h2>DualSense</h2>
            <p> One new feature added to the DualSense controller is in-depth haptic feedback. Instead of just the plain
                old rumble pack found in controllers across many generations of gaming, the DualSense includes actuators
                that give a player a more tangible, adaptable feedback to better immerse him or her in a game.
                Even the slightest in-game effects can give players more precise feedback through the controller. For
                example, driving over ice feels different in Dirt 5 than driving over gravel.Along with haptic feedback,
                the new controller adopts adaptive triggers for the L2 and R2 buttons, which can resist your fingers and
                make for even more immersion. These represent the controller's biggest next-generation tech, with
                different levels force feedback available to developers to implement in their games. For example, if you
                are pulling a bow string to fire and arrow, the trigger can be easy to press initially but get harder
                and require more pressure as the string tightens. It is quite something to behold once you have your
                first go on the controller.
            </p>
        </div>
    </div>

    <div class="footer site-spacing">
        <p>Copyright 2023 - Jermaine Brown</p>
    </div>
</body>

</html>