<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href=".././css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="site-spacing" style="background-color: #333;">
        <div class="nav">
          <a href="index.html">Home</a>
          <a href="./graphics.html">Graphics</a>
          <a href="./storage.html">Storage</a>
          <a href="./dualsense.html">DualSense</a>
        </div>
      </div>

    <div class="hero-image site-spacing">
        <div class="hero-text">
        </div>
    </div>
    
    <div class="row site-spacing">
        <div class="column side">
            <img class="responsive" src="../assets/graphics.jpg" alt="Controllers">
        </div>
        <div class="column middle">
            <p>Graphics: The PS5 is equipped with a powerful AMD Zen 2 CPU and RDNA 2 GPU, allowing for high-quality graphics and faster load times. This enables games to run at higher resolutions and frame rates, resulting in a more immersive gaming experience.</p>
        </div>
    </div>

    <div class="footer site-spacing">
        <p>Copyright 2023 - Jermaine Brown</p>
    </div>
      
    </body>
</html>